/*
	Exponent by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Icon */

	.icon.alt:before {
		color: #ff7065 !important;
	}

/* Banner */

	#banner:after {
		display: none;
	}

	#banner .inner {
		opacity: 1 !important;
	}

/* Header */

	#header h1 a:before {
		color: #ff7065 !important;
	}

/* Footer */

	#footer .icon.alt:before {
		color: #ff7065 !important;
	}